body{
    background-color: whitesmoke;
    font-family: verdana;
}

.imgHeader{
    width: 100px;
    height: 100px;
    border:1px solid rgb(46, 45, 45); 
    border-radius: 50px;
    
    
}
.imgHeader1{
    width: 1024px;
    height: 750px;
    margin-bottom: 15px;
}
#title, .subtitle, .post_title{
    color: black

}

#title{
    font-size: 40px;
    text-transform: uppercase;
}   

a{
    text-decoration: line-through;
    color: rgb(46, 45, 45);
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
    
}

.post{
    background-color: white;
    padding: 15px;
    border: 3px solid rgb(46, 45, 45);
    margin: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.post_content{
    margin:0px;
    margin-bottom: 15px;
    text-transform: capitalize;
}